@startuml {{title}} Sequence Diagram
title {{title}} Sequence Diagram
{% for participant in participants %}
participant {{participant.type}} as {{participant.name}}
{% endfor %}

{% for sequence in sequences %}
{{sequence.source}} -> {{sequence.target}} : {{sequence.action}}
{% endfor %}
@enduml

@startuml {{usecase.name}} Sequence Diagram
title {{usecase.name}} Sequence Diagram
{% for participant in usecase.participants %}
participant {{participant}}
{% endfor %}

{% for step in usecase.steps %}
{{step}}
{% endfor %}
@enduml
